
td, th {
  padding: 8px;
	border: 1px solid;
  text-align: center;
}

#planets{
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.planet-names{
  color: #008080;
  font-size: 2em;
  font-weight: bold;
}

.headings{
  background-color: #FFB6C1	;
  text-align: left;
}

.hover-facts:hover td{
  background-color: #FFB6C1	;
} 

.pname{
  color: #008080;
  font-size: 1.2em;
  font-weight: bold;
}

.white {
  background-color: # #FFFFFF ;
}

.cream {
  background-color: # ##FFFDD0 ;
}

