body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.05rem;
 
  color: #e8e8e8;
  padding: 0;
  margin: 0;
}

main {
  min-height: calc(100vh - 100px);
  margin: 0;
  padding: 8px;
}

td, th {
  padding: 8px;
  border: 1px solid;
  text-align: center;
}

.headings {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

td.headings {
  color: #d1d1d1;
}

td.headings span.hname {
  color: white;
}

#planets {
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

#images {
  width: 10em;
  padding: 0.3em;
  border: 0em;
  margin: 0em;
} 

hr {
  height: 0;
  outline: none;
  border: 1px solid #00ffff;
  box-shadow: 0 0 5px #00ffff;
  overflow: visible;
  padding: 0 5px;
}

h1 {
  width: 35%;  
  padding: 0px;
  border: 2px dashed #800000;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  font-weight: bold; 
  text-align: center;
}