h1{
  width: 50%;  
  padding: 0px;
  text-decoration: underline #008080;
  margin-left: auto;
  margin-right: auto;
  font-size: 4em;
  font-weight: bold; 
  text-align: center;
}


img {
  width: 10em;
  padding: 0.3em;
  border: 0em;
  margin: 0em;
} 

.image-background{
  background-color: #000000;
}

#planets{
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

#planets{
  background-color: #FFFDD0;
  border: 0px;
}

.planet-names{
  color: #008080;
  background-color: #FFFDD0  ;
  font-size: 2em;
  font-weight: bold;
}

.headings{
  background-color: #FFFDD0 ;
  text-align: left;
}

.hover-facts:hover td{
  background-color: #FFB6C1 ;
} 

.pname{
  color: #008080;
  font-size: 1.2em;
  font-weight: bold;
}

.teal {
  background-color: #008080 ;
}

.cream {
  background-color: #FFFDD0 ;
}

